@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg: #905E96;
  --bg-variant: #ab73b1;
  --accent: #FFD372;
  --bright-bg: #D58BDD;
  --details: #FF99D7;
  --white: #e9e9f4;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}